.theGame{
    /*display: block;*/
    color: rgb(202, 221, 36);
    background: black;
}
#frame{
    border-style: double;
    border-color: #3c3cef;
    /*display: inline-block;*/
    /*flex-wrap: nowrap;*/
    overflow: auto;
}
#left_side{
    position:relative;
    float: left;
    /*left:0;*/
    /*top:10%;*/
    width: 20%;
    text-align: center;
    border: 3px solid grey;
    border-radius:5px;
    background-image: linear-gradient(to left,#3c3cef, aquamarine);
}
/*#canvas{*/
/*    position: sticky;*/
/*    height:auto;*/
/*    width: auto;*/
/*    float: right;*/
/*}*/
#game{
    width: 60%;
    border: 3px solid yellow;
    /*border: 3px solid #3c3cef;*/
    border-radius:10px;
    overflow: auto;
    /*float: right;*/
}
#right_side{
    float: right;
    position: marker;
    width: 15%;
    overflow: auto;
    float:right;
    border: 3px solid grey;
    border-radius:5px;
    background-image: linear-gradient(to left,aquamarine, #3c3cef);
}
#right_side table{
    border: 2px solid grey;
    table-layout:auto;
    /*width: content-box;*/
    width: border-box;
    /*width:100%;*/
}
.gameButtons{
    /*position: center;*/
    border-color: #3c3cef;
    background-color: black;
    color: whitesmoke;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 11px;
    text-align: center;
    overflow: auto;
}



