.theGame {
    color: rgb(202, 221, 36);
    background: black;
    /*border-style: double;*/
    /*border-color: #3c3cef;*/
}

#frame {
    border-style: double;
    border-color: #3c3cef;
    overflow: auto;
    display: inline-flex;
    width: -moz-max-content;
}

#left_side {
    position: relative;
    float: left;
    /*width: 20%;*/
    /*width: fit-content;*/
    width: border-box;
    text-align: center;
    border: 3px solid grey;
    border-radius: 5px;
    background-image: linear-gradient(to left, #3c3cef, aquamarine);
    overflow: auto;
}

/*#canvas{*/
/*    position: sticky;*/
/*    height:auto;*/
/*    width: auto;*/
/*    float: right;*/
/*}*/
#game {
    /*width: 45.5%;*/
    width: fit-content;
    border: 3px solid yellow;
    /*border: 3px solid #3c3cef;*/
    border-radius: 10px;
    overflow: auto;
}

/*#right_side{*/
/*    !*float: right;*!*/
/*    !*position: marker;*!*/
/*    width: 18%;*/
/*    !*overflow: auto;*!*/
/*    float:right;*/
/*    border: 3px solid grey;*/
/*    border-radius:5px;*/
/*    !*background-image: linear-gradient(to left,aquamarine, #3c3cef);*!*/
/*}*/
/*#right_side table{*/
/*    !*border: 2px solid grey;*!*/
/*    table-layout: fixed;*/
/*    table-border-color-dark: #3c3cef;*/
/*    !*width: content-box;*!*/
/*    width: border-box;*/
/*    !*width:100%;*!*/
/*}*/
.gameButtons {
    /*position: center;*/
    border-color: #3c3cef;
    background-color: black;
    color: whitesmoke;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 11px;
    text-align: center;
    overflow: auto;
}

.tableSetting {
    font-family: 'Alef', serif;
    font-size: 16px;
    font-weight: bold;
    width: fit-content;
    /*width: content-box;*/
    /*width: border-box;*/
    float: right;
    border: 3px solid grey;
    border-radius: 5px;
    text-align: left;
    overflow: auto;
    /*position:relative;*/
    /*display: inline-flex;*/
}

