.theGame{
    display: block;
    color: rgb(202, 221, 36);
}
#score_time_life{
    background: black;
    /*display:inline-block;*/
}
#frame{
    border-style: double;
    border-color: #3c3cef;
    /*display: inline-block;*/
    /*flex-wrap: nowrap;*/
    overflow: auto;
}
#left_side{
    position:relative;
    float: left;
    /*left:0;*/
    /*top:10%;*/
    width: 15%;
    text-align: center;
    border: 3px solid grey;
    border-radius:5px;
    background-image: linear-gradient(to left,#3c3cef, aquamarine);
}
#canvas{
    height:auto;
    width: auto;
}
#game{
    border: 3px #3c3cef;
    width: 60%;
    float: left;
}
#right_side{
    position:relative;
    width: 15%;
    overflow: auto;
    float:right;
    border: 3px solid grey;
    border-radius:5px;
    /*background-image: linear-gradient(to left,#3c3cef, aquamarine);*/

}
#right_side table{
    table-layout:fixed;
    width: content-box;
    /*width:100%;*/
}

