
.navbar {
  position: relative;
    min-height: 30px;
    margin-bottom: 20px;
    border: 1px solid transparent;
  }
  .navbar-inverse {
    /* background-color:#42f5ef; */
    border-color: #080808;
  }
  .navbar-fixed-top {
    top: 30;
    border-width: 0 0 1px;
  }
  .container-fluid {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }  
  .navbar-fixed-bottom, .navbar-fixed-top {
    position: relative;
    min-height: 45px;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .topnav ul {
    position: relative;
    list-style-type: none;
    min-height: 35px;
    margin: 0;
    padding: 0;
    /* background-color: #42f5ef; */
  }
  .topnav li {
    float: left;
    min-height: 35px;
  }
  .topnav li a {
    display: block;
    color: #3c3cef;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color:black ;
    background-blend-mode: lighten;
    float: left;
    font-family: 'Pixeled';
    /* font-family: 'Alef', serif; */
    font-size: 12px;
    font-weight: bold;
    min-height: 5px;

  }

  .registerForm{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-family: 'Alef', serif;
    font-size: 16px;
    color: white;    
}


.btnR {
  position: fixed;
  margin-top: 250px;
  margin-left: 20%;
  margin-right: auto;
  /* margin-left: 200px;
  margin-right: 100px; */
  background-color: black;
  color: whitesmoke;
  font-size: 16px;
  padding: 12px 24px;
  border-color: #3c3cef;
  /* border: none; */
  cursor: pointer;
  border-radius: 12px;
  text-align: center;
}

.btnL {
  position: fixed;
  margin-top: 250px;
 /* margin-left: 270px;
  margin-right: 100px;*/
  margin-left: 5%;
  margin-right: auto;
  background-color: black;
  color: whitesmoke;
  font-size: 16px;
  padding: 12px 35px;
  border-color: #3c3cef;
  cursor: pointer;
  border-radius: 12px;
  text-align: center;
}

  .sectionWelcome{
    position: fixed;
    top: 10%;
    left: 35%; 
  }
  .sectionHeader{
    position: fixed;
    top: -20%;
  }
@font-face {
    font-family: 'Alef';
    font-weight: 400;
    font-style: normal;
    src: url('https://s3-eu-west-1.amazonaws.com/fonts-project/fonts/Alef/400.woff') format('woff');
  }
  @font-face {
    font-family: 'Pixeled';
    font-weight: 400;
    font-style: normal;
    src: url('Pixeled.ttf');
  }

  .registerSubmit{
    position: inherit;
    margin-left: 100px;
    margin-right: 150px;
    background-color: #42f5ef;
    color: whitesmoke;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    text-align: center;
  }

  body{
    background-image: url("image/welcom.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
}  
 
 /* section{
    margin: auto;
    padding: 4em; 
    width: 1000px;
    position: absolute;
} */
section#Login_Register_buttons{
    margin-left: auto;
    margin-right: auto;
    background-image: url(image/welcom.jpg);
} 
.center {
  display: block;
  margin-left: 90px;
  width: 30%;
}

  .settingClass{
    display: block;
    font-family: 'Alef', serif;
    font-size: 16px;
    color: white;
  }
  /* The Modal (background) */
.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 250px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.logo{
  position: fixed;
  display: block;
  width:27%;
  margin-left: auto;
  align-self: center;
}

.header {
  padding: auto;
  text-align: center;
  padding-top: 100px;
}

.loginClass{
  display: block;
  margin-left: 40%;
  margin-top: 10%;
  width: 50%;
}


.loginSubmit{
  position: inherit;
  margin-left: 30px;
  background-color: #42f5ef;
  color: whitesmoke;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  text-align: center;
}

.footerClass{
  position: fixed;
  min-height: 30px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:  black;
  color: #3c3cef;
  min-height: auto;
  font-size: 11px;
  font-weight: bolder;
  font-family: 'Alef', serif;
}

.logoClass{
  align-items: center;
  position: fixed;
  min-height: 30px;
  left: 0;
  top: 0;
  width: 100%;
  background-color:  black;
  color: white;
  margin-left: auto;
  margin-right: -550px;
  padding-top: 10;
  text-align: center;
  font-family: 'Alef', serif;
  font-size: 12px;

}
.ourInfo{
  position: fixed;
  display: block;
  margin-left: auto;
  margin-right: -550px;
  padding-top: 10;
  text-align: center
}
.theGame{
  position: absolute;
  background-color: cornsilk;
  box-sizing: border-box;
/*   background-image: url("image/packman1(2).jpg");
 */
}