.navbar {
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.navbar-inverse {
  background-color:#4db8ff;
  border-color: #080808;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-fixed-bottom, .navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
.topnav ul {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4db8ff;
}
.topnav li {
  float: left;
}
.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color:#4db8ff ;
  float: left;
  font-size: 15px;
  font-weight: bold;
}